/* src/components/Memberships/Memberships.css */

/* Estilos para el contenedor de membresías */
.memberships-container {
  padding: 20px;
  background-color: #ffffff1a;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título de las membresías */
.memberships-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Estilos para la lista de membresías */
.memberships-list {
  list-style-type: none;
  color: #ffffff;
  padding: 0;
}

/* Estilos para cada elemento de membresía */
.membership-item {
  background-color: #ffffff33;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón de registrar */
.btn-register {
  padding: 10px 15px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(33, 30, 30);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón de cerrar */
.close-button {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

/* Estilos para el formulario */
.membership-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}